[submodule "minter"]
	path = minter
	url = https://github.com/Montspy/LooPyMinty.git
	branch = rel/LooPyGen
[submodule "ipfs-hash"]
	path = ipfs-hash
	url = https://github.com/sk33z3r/ipfs-only-hash.git
